.footer {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  
  &-content {
    margin: 0 180px;
    grid-template-columns: repeat(4, 1fr); 

    @media screen and (min-width: 992px) {
        .footer-link {
            margin-left: 100px;
        } 
        .footer-follows {
            margin-left: 80px;
        } 
    }
    
    @media screen and (max-width: 992px) {
        margin: 0 100px;
        grid-template-columns: repeat(2, 1fr);
        .footer-link {
            margin-left: 150px;
        } 
        .footer-follows {
            margin-left: 150px;
        } 
    }
    
    @media screen and (max-width: 576px) {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        .footer-link {
            margin-left: 16px;
        } 
        .footer-follows {
            margin-left: 16px;
        } 
    }
    
  }
}
